.project-contents {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-image-container {
  max-width: 200px;
  overflow: hidden;
  display: grid;
  place-items: center;
  aspect-ratio: 16 / 9;
  order: 2;
  border-radius: 0.25rem;
}

.project-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.project-card {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem 1rem;
}

.project-card:hover {
  border-radius: 0.5rem;
  background: rgba(83, 102, 99, 0.1);
  cursor: pointer;
}

.project-card h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 350;
  letter-spacing: 1px;
}

.project-archive-link {
  position: relative;
  color: var(--color-highlight);
  text-decoration: none;
  transition-duration: 200ms;
  margin-right: auto;
}

.project-archive-link span {
  transition-duration: 200ms;
}

.project-archive-link:hover span {
  padding-left: 0.5rem;
}

.project-archive-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  background: transparent;
}

.project-archive-link:hover::after {
  background: var(--color-accent);
  transition-duration: 200ms;
}

@media (min-width: 640px) {
  /* ADJUSTED POST TUTORIAL */
  body {
    padding: 5rem 3rem;
  }

  .project-card,
  .experience-card {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .card-column {
    grid-column: span 3 / span 3;
  }

  .project-image-container {
    order: 0;
  }
}
